{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    >

<!-- HERO -->
<div class="container mt-1 p-0">
<section class="hero">
    <div class="overlay"></div>

    <div class="hero-content">
        <h1>About <span>Salisu Luxury Interior</span></h1>

        <h2>
            We Create
            <span id="changing-text">Luxury Furniture</span>
        </h2>

        <p>
            Crafting elegant furniture that transforms houses into homes.
        </p>
        
    </div>
</section>

<!-- ABOUT -->

<section class="about reveal">

    <div class="about-content ">
        <h2 class="text-warning">Who We Are</h2>

        <p>
            Salisu Luxury Interior specializes in handcrafted furniture,
            interior decoration and modern home solutions.
        </p>

        <p>
            We combine creativity, comfort and durability to create furniture
            that lasts generations.
        </p>
    </div>
</section>

<!-- COUNTERS -->

<section class="stats ">

    <div class="stat-box">
        <h2 class="counter text-warning" data-target="500">0</h2>
        <p>Projects</p>
    </div>

    <div class="stat-box">
        <h2 class="counter text-warning" data-target="1200">0</h2>
        <p>Happy Clients</p>
    </div>

    <div class="stat-box">
        <h2 class="counter text-warning" data-target="15">0</h2>
        <p>Years Experience</p>
    </div>

</section>

<!-- SERVICES -->
<div class="container p-5">
<section class="services reveal">

    <h2 class="text-dark text-center">What We Do</h2>

    <div class="cards">

        <div class="card">
            <i class="fas fa-couch"></i>
            <h3>Luxury Sofas</h3>
        </div>
        <div class="card">
            <i class="fas fa-couch"></i>
            <h3>Dinning set</h3>
        </div>
        <div class="card">
            <i class="fas fa-couch"></i>
            <h3>Office Set</h3>
        </div>
        <div class="card">
            <i class="fas fa-couch"></i>
            <h3>Tv Stands</h3>
        </div>

        <div class="card">
            <i class="fas fa-chair"></i>
            <h3>Modern Chairs</h3>
        </div>

        <div class="card">
            <i class="fas fa-bed"></i>
            <h3>Bedroom Sets</h3>
        </div>

    </div>
</div>

</section>

<!-- SKILLS -->

<section class="skills reveal">

    <h2>Our Expertise</h2>

    <div class="skill">

        <p>Furniture Design</p>

        <div class="progress">
            <div class="progress-bar" data-width="95%"></div>
        </div>

    </div>

    <div class="skill">

        <p>Interior Decoration</p>

        <div class="progress">
            <div class="progress-bar" data-width="90%"></div>
        </div>

    </div>

</section>

<!-- BACK TO TOP -->

<button id="topBtn">
    <i class="fas fa-arrow-up"></i>
</button>
</div>
<script src={% static 'css/js/about.js' %}></script>

{% endblock content %}