{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furniture</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    >
    <link rel="stylesheet" href="{% static 'css/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/hero.css' %}" />

    
  </head>
  <body>
    <!-- <div id="preloader"> 
      <div class="spinner-border text-success" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
    </div> -->

    
    <div id="preloader">
        <img src="{% static 'tools-image/logo-main.png' %}" class="loader-logo">
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow-sm">
      <div class="container-fluid px-3">
        <a class="navbar-brand text-warning" href="/">
          <img
            src="{% static 'tools-image/logo-main.png' %}"
            alt="Logo"
            width="50"
            height="50"
            class="logo"
          >    
          Salisu Luxury <span class="text-primary">Interior</span>
        </a>
        <form class="d-flex me-3" method="GET" action="#">
          <input
            class="form-control me-2 mb-2 mb-lg-0"
            type="search"
            name="q"
            id="myText"
            placeholder="Search furniture..."
          />
          <button 
            class="btn btn-outline-secondary mb-2 mb-lg-0"
            onclick="clearText()"
          >Search</button>
        </form>
        <button
            class="navbar-toggler bg-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto nav">

                  <li class="nav-item">
                      <a class="nav-link text-white {% if request.path == '/' %}active{% endif %}"
                        href="/">
                          Home
                      </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link text-white {% if request.path == '/about/' %}active{% endif %}"
                        href="/about">
                          About
                      </a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link text-white {% if request.path == '/contact/' %}active{% endif %}"
                        href="/contact">
                          Contact
                      </a>
                  </li>

                  <li class="nav-item ms-lg-3">
                  <a href="{% url 'order_list' %} {% if request.path == '/order_list/' %}active{% endif %}" 
                  class="cart-icon">

                      <img
                          src="{% static 'tools-image/buy-again.png' %}"
                          alt="Cart"
                          style="height:30px;"
                      >

                      <span class="cart-count">
                          {{ request.session.order|length|default:"0" }}
                      </span>

                  </a>
              </li>

              </ul>
          </div>
      </div>
    </nav>
    {% block content %} 
    
    {% endblock %}

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-left">
          <a href="{% url 'hero' %}">
              <img 
            src="{% static 'tools-image/logo-main.png' %}"
            alt="Logo"
            width="50"
            height="50"
            class="logo mb-2 logo-footer"
          >
          </a>
          <p>Luxury Iteriors. Make Every Space Beautiful.</p>
        </div>

        <div class="footer-links d-flex">
            <a href="/">
              <i 
              class="bi bi-house-door-fill me-2"
              style="color: gold;"
              ></i>
              Home
            </a>

            <a href="/contact">
              <i 
              class="bi bi-telephone-fill me-2"
              style="color: rgb(44, 221, 44);"
              ></i>
              Contact
            </a>

            <a href="/about">
              <i class="bi bi-person-circle me-2 text-primary"></i>
              About
            </a>
        </div>

        <div class="footer-right">
          <p>Follow us</p>
          <div class="socials">
            <a 
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"           
            ><i class="bi bi-facebook m-2 text-primary"></i></a>

            <a href=""><i class="bi bi-instagram m-2 text-warning"></i></a>

            <a href="https://wa.me/2348103189576?text=Hello,%20Good%20King%20Osama."
              target="_blank"
              rel="noopener noreferrer"
            ><i class="bi bi-whatsapp m-2 text-success"></i></a>

            <a href=""><i class="bi bi-twitter-x m-2"></i></a>

            <a href="https://www.youtube.com/">
              <i class="bi bi-youtube m-2 text-danger"></i>
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="footer-bothrefm text-center text-secondary shadow">
        <p>© Salisu <span id="year"></span>. All rights reserved.</p>
      </div>

    </footer>
    <script src="{% static 'css/js/hero.js' %}"></script>
    <script src="{% static 'css/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'css/js/base.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
