{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="home-page">
      <div class="products-grid">
        <div class="product-container">
          <div class="product-image-container">
            <img class="product-image"
              src="{% static 'furniture-images/image-1.jpg' %}" >
          </div>

          <div class="product-name limit-text-to-2-lines">
            King Table
          </div>

          <div class="product-price">
            N200000
          </div>

          <div class="product-spacer"></div>

          <div class="added-to-cart">
            <img src="images/icons/checkmark.png" />
            Added
          </div>

          <button class="add-to-cart-button button-primary">
            Oder now
          </button>
        </div>

        <div class="product-container">
          <div class="product-image-container">
            <img class="product-image"
              src="{% static 'furniture-images/image-3.jpg' %}" >
          </div>

          <div class="product-name limit-text-to-2-lines">
            Intermediate Size Basketball
          </div>

          <div class="product-price">
            N200000
          </div>

          <div class="product-spacer"></div>

          <div class="added-to-cart">
            <img>
          </div>

          <button class="add-to-cart-button button-primary">
            Oder now
          </button>
        </div>

        <div class="product-container">
          <div class="product-image-container">
            <img class="product-image"
              src="{% static 'furniture-images/image-2.jpg' %}" >
          </div>

          <div class="product-name limit-text-to-2-lines">
            King Couch
          </div>

          <div class="product-price">
           N200000
          </div>

          <div class="product-spacer"></div>

          <div class="added-to-cart">
            <img src="images/icons/checkmark.png" />
            Added
          </div>

          <button class="add-to-cart-button button-primary">
            Oder now
          </button>
        </div>
        <div class="product-container">
          <div class="product-image-container">
            <img class="product-image"
              src="{% static 'furniture-images/image-4.jpg' %}" >
          </div>

          <div class="product-name limit-text-to-2-lines">
            Salisu Tools
          </div>

          <div class="product-price">
            N200000
          </div>

          <div class="product-spacer"></div>

          <div class="added-to-cart">
            <img src="images/icons/checkmark.png" />
            Added
          </div>

          <button class="add-to-cart-button button-primary">
            Oder now
          </button>
        </div>
        <div class="product-container">
          <div class="product-image-container">
            <img class="product-image"
              src="{% static 'furniture-images/image-5.jpg' %}" >
          </div>

          <div class="product-name limit-text-to-2-lines">
            Kings Chair
          </div>

          <div class="product-price">
            N200000
          </div>

          <div class="product-spacer"></div>

          <div class="added-to-cart">
            <img src="images/icons/checkmark.png" />
            Added
          </div>

          <button class="add-to-cart-button button-primary">
            Oder now
          </button>
        </div>
      </div>
    </div>
{% endblock %}