.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.right-section {
    display: flex;
    gap: 20px;
}

.logo {
    width: 60px;
}

.mobile-logo {
    display: none;
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 15px;
    }

    .right-section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .logo {
        width: 50px;
    }
}