{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-5">
    {% if products %}
      <h2 class="mb-4 text-primary p-2">
        Cart-Items<i class="bi bi-heart-fill text-danger m-1"></i>
    </h2>
    {% else %}
        <h2 class="mb-4 text-warning p-2">
        Empty Cart<i class="bi bi-emoji-frown-fill text-danger m-1"></i>
    </h2>
    {% endif %}

    {% if products %}

        {% for item in products %}

        <div class="card mb-3 p-3">

            <div class="row align-items-center">

                <div class="col-md-2 mb-2">
                    <img src="{{ item.product.image.url }}"
                         class="img-fluid rounded"
                         >
                </div>

                <div class="col-md-5">
                    <h5>{{ item.product.name }}</h5>
                </div>

                <div class="col-md-2">
                    <!-- Qty: {{ item.quantity }} -->
                     <div class="d-flex align-items-center">

                    <a href="{% url 'decrease_quantity' item.product.id %}"
                        class="btn btn-secondary btn-sm"
                    >
                        <i class="bi bi-dash-lg"></i>
                    </a>

                    <span class="mx-3 fw-bold">
                        {{ item.quantity }}
                    </span>

                    <a href="{% url 'increase_quantity' item.product.id %}" 
                        class="btn btn-success btn-sm">
                            <i class="bi bi-plus-lg"></i>
                    </a>

                </div>
                </div>

                <div class="col-md-3 mt-2">
                    ₦{{ item.subtotal }}
                    <a href="{% url 'remove_item' item.product.id %}"
                    class="p-3 ">
                        <i class="bi bi-trash-fill text-danger"></i>
                    </a>
                </div>
                <div>
                    
                </div>
            </div>

        </div>

        {% endfor %}

        <h3 class="p-2">Total: <span class="text-secondary">₦{{ total }}</span></h3>

        <div class="d-flex justify-content-end mt-4 p-2">

            <a href="{% url 'reset_cart' %}"
            class="btn btn-danger">

                <i class="fas fa-trash"></i>
                Reset Cart
            </a>

            <button 
                onclick="history.back()" 
                type="button"
                class="btn btn-secondary ms-1"
              >
                <i class="bi bi-arrow-left-circle-fill"></i>
                Back
            </button>

        </div>

        <div class="p-2">
            <a href="{% url 'order_whatsapp' %}" class="btn btn-success mt-3">
                <i class="bi bi-whatsapp"></i> Order via WhatsApp
            </a>

            <button onclick="history.back()" class="btn btn-outline-dark mt-3">
                <i class="bi bi-arrow-left-circle-fill m-1"></i>Continue Shopping
            </button>

        </div>
    {% else %}

        <h4 class="text-danger">Your order list is empty.</h4>
        <img src="{% static 'tools-image/empty-cart.png' %}" alt=""
        style="
        height: 300px;
        width: auto;
        max-width: 100%;
        margin: auto;
        margin-right: 3px;
        "
        >
        <br>
        <a 
         href="{% url 'hero' %}"
         class="btn btn-outline-primary mt-3">
            <i class="bi bi-arrow-left-circle-fill m-1"></i>Start Shopping
        </a>
        <a 
         href="{% url 'hero' %}"
         class="btn btn-outline-secondary mt-3">
            <i class="bi bi-arrow-left-circle-fill m-1"></i>Back
        </a>
    {% endif %}

</div>

{% endblock %}