{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row g-5">

        <!-- Product Image -->
        <div class="col-lg-6">
            <img src="{{ product.image.url }}"
                 class="img-fluid rounded shadow"
                 alt="{{ product.name }}">
        </div>

        <!-- Product Details -->
        <div class="col-lg-6">

            <span class="badge bg-dark mb-2">
                {{ product.category }}
            </span>

            <h1 class="fw-bold">{{ product.name }}</h1>

            <h3 class="text-success my-3">
                ₦{{ product.price }}
            </h3>

            <hr>

            <p>
                {{ product.description }}
            </p>

            <div class="mt-4">
                <button class="btn btn-dark btn-lg">
                    Add to Cart
                </button>

                <button class="btn btn-outline-dark btn-lg ms-2">
                    ❤ Wishlist
                </button>
            </div>

        </div>

    </div>
</div>

{% endblock %}